@use '../../scss/common';
@use '../../scss/dynamic-component';
@use '../../scss/dynamic-list';

:host {
  @layer {
    & {
      --prop-header-height: 56px;
      --prop-row-gap: var(--app-row-gap);

      --prop-stick-top: var(--app-stick-top, 0px);
      --prop-stick-z-index: calc(var(--app-stick-z-index, 9999) - 1);
    }
  }

  @include common.layout-block();
}

header {
  @include common.layout-block();

  position: sticky;
  top: var(--prop-stick-top);
  z-index: var(--prop-stick-z-index);

  height: var(--prop-header-height);

  display: flex;
  flex-direction: row;
  align-items: stretch;
  column-gap: 1ch;

  & > label {
    @include common.layout-block();

    flex: 1 0 auto;

    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    column-gap: 1ch;

    & > input {
      @include common.layout-block();

      flex: 1 0 auto;

      width: 20ch;
      height: 100%;
    }

    .-cmp-tels-summary {
      display: inline-block;
      width: 5ch;
    }

    .-cl-label-no {
      display: inline-block;
      width: 5ch;
    }
  }
}

ul.-cmp-list {
  --app-stick-top: calc(var(--prop-stick-top) + var(--prop-header-height));
  --app-stick-z-index: var(--prop-stick-z-index);

  row-gap: var(--prop-row-gap);

  margin-top: 16px;

  padding-left: 64px;
  padding-bottom: 16px;

  & > li {
    @include common.layout-block();
    display: flex;
    flex-direction: row;
    align-items: stretch;

    & > label {
      @include common.layout-block();

      flex: 1 0 auto;

      display: inline-flex;
      flex-direction: row;
      align-items: baseline;

      & > b {
        margin-right: 1ch;
      }

      & > input {
        @include common.layout-block();

        flex: 1 0 auto;

        height: 100%;
      }

      .-cl-label-no {
        display: inline-block;
        width: 3ch;
      }
    }
  }
}
